<div class="container">
  <h2 mat-dialog-title>{{ data ? 'Editar Solicitud' : 'Agregar Solicitud' }}</h2>

  <mat-dialog-content class="mat-typography">
    <form [formGroup]="solicitudService.formGroup">
      <!-- Monto -->
      <app-input
        [label]="'Monto'"
        [name]="'monto'"
        [inputType]="'text'"
        [maxlength]="6"
        [placeholder]="'Ingrese el monto de la solicitud'"
        [control]="solicitudService.form.monto">
      </app-input>

      <!-- Plazo -->
      <app-input
        [label]="'Plazo (meses)'"
        [name]="'plazo'"
        [maxlength]="3"
        [inputType]="'text'"
        [placeholder]="'Ingrese el plazo en meses'"
        [control]="solicitudService.form.plazo">
      </app-input>

      <!-- Forma de Pago -->
      <mat-form-field style="width: 100%;">
        <mat-label>Forma de Pago</mat-label>
        <mat-select [formControl]="solicitudService.form.formaPago">
            @for(item of solicitudService.formasDePago; track item) {
                <mat-option  [value]="item.idFormaPago">
                  {{ item.descripcion }}
                </mat-option>
            }
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="actions-container">
    <button mat-button matDialogClose>Cancelar</button>
    <button mat-button color="primary" type="button" (click)="onSubmit()">Guardar</button>
  </mat-dialog-actions>
</div>
